---
layout: default
title: Florida Keys Resorts | The Marker Resort Key West | Key West Resorts
excerpt: The Marker Resort Key West is the newest addition to Florida Keys resorts, offering 96 spacious accommodations on the Historic Seaport of Key West.
---   

    <!-- Home Banner Carousel Carousel  -->
    <div id="homeBannerCarousel" class="carousel slide  carousel-fade" data-ride="carousel"> 
      <!-- Indicators -->
      <ol class="carousel-indicators">
		{% for item in site.data.home.slideshow %}
		  {% if forloop.index == 1 %}
			<li data-target="#homeBannerCarousel" data-slide-to="{{ forloop.index0 }}" class="active"></li>
		  {% else %}
			<li data-target="#homeBannerCarousel" data-slide-to="{{ forloop.index0 }}"></li>
		  {% endif %}
		{% endfor %}
		</ol>
      <div class="carousel-inner" role="listbox">
	  
        {% for item in site.data.home.slideshow %}
			{% if forloop.index == 1 %}
			  <div class="item active" style="background-image: url({{ item.image-url}})">
			{% else %}
			  <div class="item" style="background-image: url({{ item.image-url}})">
			{% endif %}
			{% if item.title != nil %} 
			  <div class="container">  
				<div class="carousel-caption row">
					  <div class="col-lg-6 col-md-12 col-lg-push-3"> 
						<h2>{{item.title}}</h2>
					  </div>
					</div>
			  </div>
			{% endif %}
			</div><!--/.item-->
		  {% endfor %}
          
        </div>
      </div>
      <a class="left carousel-control" href="#homeBannerCarousel" role="button" data-slide="prev"> <span class="left" aria-hidden="true"></span></a> <a class="right carousel-control" href="#homeBannerCarousel" role="button" data-slide="next"> <span class="right" aria-hidden="true"></span></a>
       
    </div>
	 
    <!-- /.Home Banner Carousel Carousel -->   
	
	<!-- feature include -->
	{% include features.html %}
 

	<!-- page content section -->
	<div class="page-content-wrapper"> 
	{% for item in site.data.home.main_content %}
	  <div class="container">
		<div class="row">
		  <div class=" col-lg-5 col-md-5 ">
			<div class="row">
			  <div class="col-lg-11 col-lg-push-1">  
				<h1>{{item.title}}</h1>
				<h2>{{item.sub-title}} </h2>
				{{item.content}} 
			  </div>
			</div>
		  </div>
		  <div class=" col-lg-7 col-md-7"> <img src="{{item.image-url}}" class="img-responsive"> </div>
		</div>
	  </div> 
	{% endfor %}
	</div>
	<!-- /.page content section --> 
	
	<!--  upcoming events section -->
	<article id="upcoming-events" class="upcoming-events">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-6 events">
			<h4>Upcoming Events</h4>
			{% for item in site.data.specials  limit:1%}
			<div class="events-container">
			  <article> 
				<time>{{item.start_date | escape}} <span>to</span> {{item.end_date | escape}} </time>
				<div class="thumbnail"> <img src="{{item.image}}"  title="{{item.title}}">    </div>
				<h5>{{item.title | escape}}</h5>
				<p>{{item.short_description}}</p>
				<a href="{{item.readmore_link}}" class="button">Read More</a> <a class="button morebtn" href="{{item.event_url}}">More Events</a> </article>
				 
			</div>
			{% endfor %}
		  </div>
		  <div class="col-sm-6 blog">
			<div id="blog-feed">
			  <h4>Most Recent Blog Posts</h4>
			    <div class="feed-container">
				{% for post in site.posts limit:1 %}
				<article> 
				  <time>{{ post.date | date_to_string }}</time>
				  <div class="blog-description">
					<div class="thumbnail"> <img width="480" height="360" src="{{post.image.thumb}}" class="attachment-thumbnail wp-post-image" title="{{homepage-blog.title}}"> </div>
					  <h5>{{post.title | escape}}</h5>
					  <p>{{post.teaser | escape}}</p>
					  </div>
				  <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"  class="button">Read More</a> <a class="button morebtn" href="/blog/">More Posts</a> </article>
				 {% endfor %}
			  </div>
			 
			</div>
		  </div>
		</div>
	  </div>
	</article>

	<!-- /.upcoming events section -->
 

    {% include footer.html %} 

  </body>

</html>
